
.progress {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 2rem auto;
}
//
//.progress progress
//{
//  position: absolute;
//  width: 0;
//  height: 0;
//  overflow: hidden;
//  left: -777px;
//}


